# Port on which Express server will listen
PORT=5000

# MongoDB Atlas connection string URL
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/roadmap_db?retryWrites=true&w=majority

# CORS allowed origin
CLIENT_ORIGIN=http://localhost:3000

# Server Node Environment (development / production)
NODE_ENV=development
